{% import '_includes/forms' as forms %}

<h1>Token Settings</h1>

{{ forms.selectField({
  label: 'Access Token Expiration',
  instructions: 'The length of time before access tokens expire.',
  name: 'expiration',
  value: settings.expiration,
  options: [
    { value: '', label: 'Never' },
    { value: '1 hour', label: '1 hour' },
    { value: '1 day', label: '1 day' },
    { value: '1 week', label: '1 week' },
    { value: '1 month', label: '1 month' },
    { value: '3 months', label: '3 months' },
    { value: '6 months', label: '6 months' },
    { value: '1 year', label: '1 year' },
  ],
}) }}

{{ forms.field({
  label: 'Use HTTP-Only Cookie',
  instructions: "Whether or not the `authenticate` and `register` mutations should set an HTTP-Only cookie (named `gql_accessToken`) which will be used for signing subsequent requests automatically.",
  warning: "If users will be authenticating from a remote origin, you will need to add that origin to the `allowedGraphqlOrigins` config setting in `general.php`. Note that Firefox and Safari may still deem this as a 'cross-site tracking cookie' and block it.",
  name: 'setCookie',
}, forms.lightswitch({
  name: 'setCookie',
  on: settings.setCookie,
})) }}

{{ forms.selectField({
  label: 'SameSite Cookie Policy',
  instructions: 'The `SameSite` policy to use on cookies.',
  name: 'sameSitePolicy',
  value: settings.sameSitePolicy,
  options: [
    { value: 'strict', label: 'Strict' },
    { value: 'lax', label: 'Lax' },
    { value: 'none', label: 'None' },
  ],
}) }}
